extend componentes/plantilla.pug
block contenidos
		section.intro
			//- div.intro__imagen: img(src="./images/imagen.png")
			//- div.intro__contenido
			//- Podemos omitir el div y escribir directamente:
			.intro__imagen: img(src="./images/imagen.png")
			.intro__contenido
				h2 Bienvenido a #{titulo}
				//- h2 #{titulos[0][0]} *Podemos usar solo un caracter de la cadena
				//- h2 #{titulos[0][3]}
				//- quiero solamente las primera 5 letras del titulo[0]:
				//- h2 #{titulos[0].slice(0,5)}
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					| Donec auctor, nisl eget ultricies tincidunt, 
					| nunc nisl aliquam mauris, eget aliquet nisl nisl eget nunc. 
					| Donec auctor, nisl eget ultricies tincidunt, 
					| nunc nisl aliquam mauris, eget aliquet nisl nisl eget nunc.
					span Lorem ipsum dolor sit, amet consectetur adipisicing.
				a.boton Comenzar
		//-  Cremos un loop:
		//- ul
		//- 	each titulo in titulos
		//- 		li= titulo
		//-  Usando solo mixins:
		//- main.contenido
		//- 	+caja('./images/imagen.png', titulos[1], contenido[0])
		//- 	+caja('./images/imagen.png', titulos[2], contenido[1])
		//- 	+caja('./images/imagen.png', titulos[3], contenido[2])
		//- 	//- Podemos usar un for each:
		//- main.contenido
		//- 	each titulo in titulos
		//- 		+caja('./images/imagen.png', titulo, contenido[0])
		//- ahora con un for normal:
		main.contenido
			for i in [1,2,3]
				+caja('./images/imagen.png', titulos[i], contenido[i-1])
