.articulos {
    width: 50%;
    padding: 60px 0 0 100px;
    background-color: $color-primario;
}
.articulo {
    margin-bottom: 75px;
    border-bottom: 3px solid $color-secundario;
    color: $color-claro;
    &__categoria {
        font-weight: 400;
        font-size: 16px;
        color: $color-secundario;
        @include titulos($Fuente2);
    }
    &__titulo {
        width: 70%;
        font-weight: 400;
        font-size: 20px;
        @include titulos($Fuente2)
    }
    &__descripcion {
        font-size: 16px;
        margin-bottom: 30px;
        padding-right: 100px;
        color: get-opacity($color-claro, 0.8);
    }
}